__pycache__/
*.py[cod]
*$py.class

env/
venv/
ENV/
.venv/
.env/

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

staticfiles/
static_root/

.env
.env.*

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
pytest_cache/

*.mo
*.pot

.ipynb_checkpoints/

.idea/
.vscode/

.mypy_cache/
.dmypy.json
dmypy.json

.pyre/

.DS_Store
Thumbs.db

*.orig
*.rej